/* 
 *  format the page to display shadows and elements to contrast on picture
*/

body {
    text-shadow: 2px 2px 5px #000000;
    color: white;
}

.heading {
    text-align: center;
    font-size: large;
    color: white;
}


input[type=text] {
    color: white;
    text-align: center;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    text-shadow: 1px 1px 1px rgba(0,0,0,1.0);
}


input[type=text]:focus {
    border:none;
    border-bottom: 1px solid white;
    outline:none;
}

input[type=submit] {
    margin-top: 1em;
    border : solid 2px #ffffff;
    border-radius : 3px;
    -webkit-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
    -moz-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
    box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
    font-size : 20px;
    color : #ffffff;
    padding : 1px 10px;
    background-color : transparent;
}


/* Radiobutton style from www.csscheckbox.com*/
.city-radio-button-label {
    color: white;
}

input[type=radio] {
    display: none;
}

input[type=radio] + label::before {
    content: '';
    display: inline-block;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 0.5em;
    box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
}
input[type=radio]:checked + label::before {
    background-color: #000000;
}

