#form-container {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    text-align: center;
}

#name-query {
    font-size: 5em;
}

#name-input {
    width: 40%;
    height:2em;
    font-size: 3em;
}