/* stylesheet for location page */

#form-container {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    text-align: center;
}

#location-query {
    font-size: 5em;
}

#location-input {
    width: 40%;
    height: 2em;
    font-size: 3em;
}


.city-radio-button-label {
    font-size: 2em;
}

.city-radio-button + label::before {
    width: 0.7em;
    height: 0.7em;
}
