@{
    ViewData["Title"] = "About";
}

<div class="container body-content">
    <h1>@ViewData["Message"]</h1>
    <h2>What is this?</h2>
    <p>A dynamic homepage updating with easy access to all the information you could need. Neither overblown nor lacking, this start page is built for the modern web.</p>
    <p>
        Features:
        <ul>Weather Report Updated Daily</ul>
        <ul>Persisting Settings</ul>
        <ul>Daily Image From Bing</ul>
        <ul>More Coming Soon...</ul>
    </p>
</div>