@{
    ViewData["Title"] = "Location?";
}

@section HeaderItems{
    <link rel="stylesheet" href="~/css/get-location.css" />
}

<div id="form-container">
    @if (ViewData["cities"] == null)
    {
        <h1 id="location-query" class="heading">
            Please enter your city of residence (for weather data)
        </h1>

        <form asp-action=GetLocation asp-controller="Home">
            <input size="90" type="text" id="location-input" name="locationValue" autofocus />
            <br />
           
            <input type="submit" id="location-submit" value="Submit" />
        </form>
    }
    else if (ViewData["cities"] != null &&
            ((string)ViewData["cities"]).Length > 0)
    {
        <h1 id="location-query" class="heading">
            Specify your city
        </h1>
        
        <form asp-action=SubmitLocation asp-controller="Home">
            @{
                int resultsToShow = (int)ViewData["NumResults"];
                int current = 0;
            }
            @foreach (string city in ((string)ViewData["cities"]).Split(';'))
            {
                if (current == resultsToShow)
                {
                    break;
                }

                string cityName = city.Split('@')[0];
                string cityLink = city.Split('@')[1];
                <input type="radio" name="cityLink" id="radio-@current" class="city-radio-button" value="@cityLink"/>
                <label class="city-radio-button-label" for="radio-@current">@cityName</label>
                <br />

                current++;

            }
            <input type="submit" id="location-submit" value="Submit" />
        </form>
    }
    else
    {
        <h1 id="location-query" class="heading">
            City not found - Please go back and try again
        </h1>

    }
</div>
