@{
    ViewData["Title"] = "Name?";
}

@section HeaderItems{
    <link rel="stylesheet" href="~/css/get-name.css" />
}

<div id="form-container">
<h1 id="name-query" class="text">What's Your Name?</h1>
    <form asp-action="SubmitName" asp-controller="Home">
        <input size="90" type="text" id="name-input" name="nameValue" autofocus />
        <br />
        <input type="submit" id="name-submit" value="Submit" />
    </form>
</div>
