@{
    ViewData["Title"] = "Home Page";
}

@section BodyProperties{
    onload="updateClock(); setInterval('updateClock()',1000); updateGreeting('@ViewData["Name"]'); setInterval('updateGreeting()',3600000);"
}

<div id="middle" class="heading">
    <div id="clock-widget">
        <!-- This element must have content (currently just a space) to render 
            properly-->
        <p id="clock"> </p>

        <h1 id ="welcome" class="title"> </h1>
        <br />
    </div>

    <!--Make other panels here, will become visible when user wants to view-->
    <div id="settings-widget" hidden>
        <h1 id="settings-header" class="title">Settings</h1>
    </div>

</div>

<div id="top-right" class="heading">
    <i id="weather-icon" class="wi @ViewData["WeatherIconName"]"></i>
    <span id="temperature">@ViewData["TemperatureF"]° F</span>
</div>

<div id="top-left" class="heading">
    <!--Code for the search bar widget-->
    <form asp-action=Search asp-controller="Widgets">
        <div id="search-widget">
            <i id="search-widget-icon" class="glyphicon glyphicon-search"></i>
            <input size="10" type="text" 
                   id="search-widget-input" name="query" />
            <input type="submit" value="Submit" hidden="hidden" />
        </div>
    </form>
</div>
<!--<div class="text">
    <i style="font-size: xx-large;" class="glyphicon glyphicon-calendar"></i>
    <h2>Today is @ViewData["Date"] </h2>
    <br />
</div>-->
<!-- how to do a link<a asp-area="" asp-controller="Home" asp-action="About">About Us</a>-->
